body {
  padding-top: 45px;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
  padding: 10px 9px 20px 10px;
  margin-right: -11px;
  border-right: 2px solid #555;
}

.sidebar {
  padding: 10px 0 20px 9px;
  margin-left: -11px;
  border-left: 2px solid #555;
}

.popover-title, .popover-content {
  margin-left: -20px;
}

.container > footer p {
  text-align: center;
}

