{% extends "base.j2" %}

{% block meta_keyword %}
{% if resource.meta.tags %}
<meta name="keywords" content="{% for tag in resource.meta.tags %}{{ tag~', ' }}{% endfor %}">
{% endif %}
{% endblock %}

{% block content %}

<div class="popover-title">
  {% block header %}
  <h1>
    {% block page_title %}{{ resource.meta.title }}{% endblock %}
    {% if resource.meta.subtitle %}<small>{% block page_subtitle %}{{ resource.meta.subtitle }}{% endblock %}</small>{% endif %}
  </h1>
  {% endblock header %}
</div>

<div class="popover-content">
  <div class="row">
    <div class="span9">
      <div class="content">
        <p title="{{ resource.meta.created.strftime('%Y-%m-%d %a %H:%M:%S') }}">
            Posted: {{ resource.meta.created.strftime('%a, %Y-%m-%d') }}
        </p>

        {% if resource.meta.tags %}
        <div>
          tags: 
          {% for tag in resource.meta.tags %}
            <a class="btn small" 
               href="{{ content_url('blog/tags/'~tag~'.html') }}">
              {{ tag }}
            </a>
          {% endfor %}
        </div>
        {% endif %}

        <hr />

        {% filter markdown|typogrify -%}
          {% mark post -%}
            {% block post -%}{%- endblock %}
          {%- endmark %}
        {%- endfilter %}
      </div>
    </div>
    <div class="span3">
      <div class="sidebar">
        {% block sidebar %}
        <nav class="post_nav">
        <a class="backlink" href="{{ content_url(resource.node.url) }}">
        &#x2190;返回文章列表</a>
        <br /><br />
        <div class="prev">
        &#x00AB;前一篇文章<br />
        {% if not resource.prev_by_time %}
        没有文章了...
        {% else %}
        <a title="{{ resource.prev_by_time.meta.created.strftime('%Y-%m-%d') }}"
           href="{{ content_url(resource.prev_by_time.url) }}">
           {{ resource.prev_by_time.meta.title }}
        </a>
        {% endif %}
        </div>
        <br />
        <div class="next">
        后一篇文章&#x00BB;<br />
        {% if not resource.next_by_time %}
        没有文章了...
        {% else %}
        <a title="{{ resource.next_by_time.meta.created.strftime('%Y-%m-%d') }}"
           href="{{ content_url(resource.next_by_time.url) }}">
           {{ resource.next_by_time.meta.title }}
        </a>
        {% endif %}
        </div>
      {% endblock %}
      </div>
    </div>
  </div>
</div>

<hr>


{% block disqus %}
{% include "disqus.j2" %}
{% endblock disqus %}

{% endblock content %}


