{% extends "base.j2" %}
{% from "macros.j2" import render_excerpt with context  %}

{% block content %}

<div class="page-header">
  {% block header %}
  <h1>
    {% block page_title %}{{ resource.meta.title }}{% endblock %}
    {% if resource.meta.subtitle %}<small>{% block page_subtitle %}{{ resource.meta.subtitle }}{% endblock %}</small>{% endif %}
  </h1>
  {% endblock header %}
</div>

<div class="row">
  <div class="span9">
    {% block main %}

    <ul class="listing clear">
    {% for res in resource.node.walk_resources_sorted_by_time() %}
    <li>
        {{ render_excerpt(res) }}
    </li>
    {% endfor %}
    </ul>
    {% endblock %}
  </div>
  <div class="span3">
    {% block sidebar %}
    <div id="recentcomments" class="dsq-widget">
      <h2 class="dsq-widget-title">最近评论</h2>
      <script type="text/javascript" 
      src="http://newk-blog.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=24&excerpt_length=200">
      </script>
    </div>
    <div id="popularthreads" class="dsq-widget">
      <h2 class="dsq-widget-title">最热评论</h2>
      <script type="text/javascript" 
      src="http://newk-blog.disqus.com/popular_threads_widget.js?num_items=5">
      </script>
    </div>
    {% endblock %}
  </div>
</div>

{% endblock content %}


